%h1= 'About Me!'
%p= 'Jude is a software engineer interested in how technology can be used to benefit society.'
%p= 'I like to look at the world around me and imagine how it can be improved with some new, fantastic inventions.'
%p= 'Test Driven Development is my primary design process, and a core principle of how I tackle coding challenges. Without understanding my desired end results while building, I feel I would by quite lost.'
%p= 'I am currently investigating how I can apply my skills as a software engineer in agricultural and civil engineering. Everything from farm tech to public transportation.'
%p= 'It looks like an interesting road ahead.'