%h1= 'Blog!'
%p= 'This is Jude\'s blog page. What you find here may be helpful, I don\'t know, you decide.'
%p= 'Here are some articles:'
%ul
  %li= 'Article 1'
  %li= 'Article 2'
  %li= 'Article 3'
  %li= 'Article 4'